PROM_NETWORK=prom-testnet
PROM_TESTNET_RPC_URL=https://rpc.testnet.prom.io
PROM_TESTNET_CHAIN_ID=71234
PROM_TESTNET_EXPLORER_URL=https://explorer.testnet.prom.io
PROM_TESTNET_EXPLORER_API_URL=https://explorer.testnet.prom.io/api
PROM_TESTNET_EXPLORER_API_KEY=
BLOCKCHAIN_CONFIRMATIONS=3
AGENT_REGISTRY_ADDRESS=
SERVICE_CATALOG_ADDRESS=
TARIFF_MANAGER_ADDRESS=
